#tittle
{
	text-decoration: none;
	display: inline-block;
	padding: 8px 30px;
	border-radius: 40px;
	background: #2b1055;
	color: #ffffff;
	font-size: 1.5em;
	z-index: 9;
}
#artikel
{
	text-decoration: none;
	display: inline-block;
	padding: 8px 30px;
	border-radius: 40px;
	background: #2155bf;
	color: #ffffff;
	font-size: 1.5em;
	z-index: 9;
}
#buatartikel
{
	text-decoration: none;
	display: inline-block;
	padding: 8px 30px;
	border-radius: 40px;
	background: #2155bf;
	color: #ffffff;
	font-size: 1.5em;
	z-index: 9;
}
#about
{
	text-decoration: none;
	display: inline-block;
	padding: 8px 30px;
	border-radius: 40px;
	background: #2155bf;
	color: #ffffff;
	font-size: 1.5em;
	z-index: 9;
}
#login-box{
	position: relative;
	margin: 5% auto;
	height: 550px;
	width: 920px;
	background: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}
.right-box{
	position: absolute;
	top: 100;
	right: 0;
	box-sizing: border-box;
	padding: 40px;
	width: 410px;
	height: 370px;
	background-image: url(bgright.jpg);
	background-size: cover;
	background-position: center;
}
input[type="submit"]{
	margin-bottom: 28px;
	width: 120px;
	height: 32px;
	background: #39f436;
	border: none;
	border-radius: 2px;
	color: #fff;
	font-family: sans-serif;
	text-transform: uppercase;
	transition: 0.2s ease;
	cursor: pointer;
}
input[type="reset"]{
	margin-bottom: 28px;
	width: 120px;
	height: 32px;
	background: #F44336;
	border: none;
	border-radius: 2px;
	color: #fff;
	font-family: sans-serif;
	text-transform: uppercase;
	transition: 0.2s ease;
	cursor: pointer;
}
input[type="button"]{
	margin-bottom: 28px;
	width: 120px;
	height: 32px;
	background: #FCEC03;
	border: none;
	border-radius: 2px;
	color: #fff;
	font-family: sans-serif;
	text-transform: uppercase;
	transition: 0.2s ease;
	cursor: pointer;
}